//
//  Prod.xcconfig
//  Fitnecs
//
//  Created by Panov Sergey on 22.10.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//need to be included manually for pods
#include "Pods/Target Support Files/Pods-Fitnecs/Pods-Fitnecs.release(prod).xcconfig"
#include "Pods/Target Support Files/Pods-Fitnecs/Pods-Fitnecs.debug(prod).xcconfig"

// Server URL
BASE_URL = https:/$()/fitnecs.msharks.ru/

SERVER_TYPE = prod

// App Settings
PRODUCT_BUNDLE_IDENTIFIER = ru.FitnecsApp.Fitnecs
