//
//  Test.xcconfig
//  Fitnecs
//
//  Created by Panov Sergey on 22.10.2020.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//need to be included manually for pods
#include "Pods/Target Support Files/Pods-Fitnecs/Pods-Fitnecs.release(test).xcconfig"
#include "Pods/Target Support Files/Pods-Fitnecs/Pods-Fitnecs.debug(test).xcconfig"

// Server URL
BASE_URL = http:/$()/185.12.30.47/

SERVER_TYPE = dev

// App Settings
PRODUCT_BUNDLE_IDENTIFIER = ru.vtbmobile.app2
